<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>

<h1>新项目开发</h1>
<ur>
    <li>没有bug已经上线</li>
    <li>没有bug已经上线</li>
    <li>这里存在一个bug，现在已经修复成功！！</li>
</ur>
<h2>修复bug 顺便添加一些新功能，看看是否会产生冲突</h2>

<h2>添加一个新功能**1**</h2>
<li>只添加到一半，发现原来的程序有bug</li>
<li>保存现在的状态，修改bug</li>
<hr>
<li>bug修复完毕，没用产生冲突，继续写新功能</li>

</body>
</html>